<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalFeed" value=".nuget/local-packages" />
  </packageSources>

  <packageSourceMapping>
    <!-- 내 패키지 ID/패턴을 로컬 피드로 고정 -->
    <packageSource key="LocalFeed">
      <package pattern="DotNetHelper.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
